<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Forma Pilates | Delete <%= client[0].name %>'s Profile</title>
</head>
<body>
    <div class="admin-title">
        <h1>Are you sure you want to delete <%= client[0].name %>'s Profile and all their records, including invoice History?</h1>
    </div>
    <div class="choice">
        <form action="">
            <button>Yes</button>
        </form>
        <a href="">No</a>
    </div>
</body>
</html>