<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/admin-styles.css">
    <title>Edit User | <%= user.name %></title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/admin/user/<%= user._id %>/change-password">Change Password</a></li>
                <li><a href=""></a></li>
                <form action="/auth/logout" method = "POST">
                    <button class = "logout">Logout</button>
                </form>
            </ul>
        </nav>
    </div>
    <div class="admin-title">
        <h1><%= user.name %></h1>
    </div>
</body>
</html>