@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image:rgb(251, 200, 208) ;
}

img {
    width: 50%;
    padding: 20px;
    border-radius: 10%;
}

.admin {
    padding: 15px;
    float: right;
}

.admin i {
    color: grey;
}

.title {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0;
}

.admin-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.title-appear {
    opacity: 1;
    transition: 1.5s ease;
}

.title1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    font-size: 22px;
}

.nav {
    background: rgb(221, 221, 221);
    position: sticky;
    top: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.nav ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.nav li {
    list-style: none;
    font-size: 18px;
    text-align: center;
}

.nav a {
    color: black;
    text-decoration: none;
    transition: .2s ease;
}

.nav a:hover {
    color: white;
    transition: .2s ease;
}

.text {
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 10%;
}

.name-section, .password-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
}

.input-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin: auto;
}