@font-face {
    font-family: Bicubik;
    src: url("Bicubik-71qR.otf") format("opentype");
}

@font-face {
    font-family: TT Fors;
    src: url("Fontspring-DEMO-tt_fors_regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

img {
    padding: 20px;
    border-radius: 25px;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(0, 83, 83);
}
  
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 49);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 0, 44);
}

#welcome {
    padding-top: 50px;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: -1;
    opacity: 0;
}

.title1 {
    text-align: center;
    padding: 40px;
    font-size: 22px;
    color: white;
    font-family: Bicubik;
}

.subtitle {
    color: rgb(214, 95, 95);
    text-align: center;
    padding: 10px;
}

.text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: justify;
    padding: 15px;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    border-radius: 10px;
    font-family: TT Fors;
    font-size: 20px;
}

.text p {
    font-family: TT Fors;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.text h3, .text h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bicubik;
}

.nav {
    background-image: linear-gradient(120deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    position: sticky;
    top: 0;
    text-align: center;
    font-family: Bicubik;
    opacity: 0;
}

.nav ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.nav li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    transition: .2s ease;
    color: rgb(0, 143, 143);
}

.nav a:hover {
    color: white;
    transition: .2s ease;
}

.welcome {
    padding-top: 100vh;
}

.about, .sessions, .contact {
    padding-top: 10vh;
}

.welcome-title {
    font-family: Bicubik;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.welcome-text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    border-radius: 10px;
    font-family: TT Fors;
    font-size: 20px;
}

.welcome-text img {
    width: 40%;
}

.about-text {
    display: flex;
    width: 70%;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: TT Fors;
    font-size: 22px;
    color: white;
    text-align: justify;
}

.about-text img {
    max-width: 20%;
    border-radius: 40px;
}

.pregnancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 90%;
    margin: auto;
}

.reformer h3 {
    margin-top: 20px;
}

.reformer img, .matwork img {
    width: 40%;
}

.reformer, .rehab, .matwork {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    padding: 30px;
}

.rehab img {
    width: 30%;
}

.pregnancy img {
    width: 30%;
}

.mailto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: rgb(0, 143, 143);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 49);
    width: 20%;
}

.name-section, .password-section, .surname-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
}

.address-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
    flex-direction: column;
}

.input-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin: auto;
}

.clients ul, .invoices ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients li, .invoices li {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 10px;
    background: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    transition: .3s ease;
}

.clients li:hover {
    transition: .3s ease;
    transform: scale(1.05);
}

.client {
    width: 80%;
    text-decoration: none;
    color: black;
}

.invoices a, .edit {
    padding: 10px;
    font-size: 20px;
    color: seagreen;
    transition: .1s ease;
}

.invoices button, .trash {
    background: none;
    font-size: 20px;
    color: red;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s ease;
}

.invoice-status {
    text-transform: capitalize ;
}

.edit:hover {
    color: white;
    transition: .1s ease;
}

.trash:hover {
    color: white;
    transition: .1s ease;
}

.choice {
    display: flex;
    width: 30%;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.choice button {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 40px;
    border-radius: 5px;
    background: red;
    transition: .3s ease;
    cursor: pointer;
}

.choice a {
    font-size: 20px;
    padding: 40px;
    border-radius: 5px;
    background: seagreen;
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.choice a:hover, .choice button:hover {
    transition: .3s ease;
    transform: scale(1.05);
}

.nav button {
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
}

.nav button:hover {
    color: red;
    transition: .2s ease;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.contact div {
    margin: 10px;
}

.contact input {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    font-family: TT fors;
}

.contact textarea {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: auto;
    outline: none;
    border: none;
    resize: none;
    font-family: TT fors;
}

.contact button {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-family: TT fors;
    transition: .2s ease;
    cursor: pointer;
    font-size: 18px;
}

.contact button:hover {
    background: seagreen;
    color: white;
    transition: .2s ease;
}