@font-face {
    font-family: Bicubik;
    src: url("Bicubik-71qR.otf") format("opentype");
}

@font-face {
    font-family: TT Fors;
    src: url("Fontspring-DEMO-tt_fors_regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

img {
    padding: 20px;
    border-radius: 25px;
}

p {
    font-size: 22px;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(0, 83, 83);
}
  
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 49);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 0, 44);
}

#welcome {
    padding-top: 50px;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: -1;
    opacity: 0;
}

.title1 {
    text-align: center;
    padding: 40px;
    font-size: 22px;
    color: white;
    font-family: Bicubik;
}

.subtitle {
    color: rgb(214, 95, 95);
    text-align: center;
    padding: 10px;
}

.text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: justify;
    padding: 15px;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    border-radius: 10px;
    font-family: TT Fors;
}

.text p {
    font-family: TT Fors;
    padding: 15px;
    text-align: center;
}

.text h3, .text h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bicubik;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-image: linear-gradient(120deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    font-family: Bicubik;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0;
}

.logo {
    display: none;
    padding: 10px;
}

.nav-links {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(1, 117, 117);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    transition: .2s ease;
}

.nav-links a:hover {
    color: white;
    transition: .2s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(1, 117, 117);
    margin: 5px;
}

.welcome {
    padding-top: 100vh;
}

.about, .sessions, .contact {
    padding-top: 10vh;
}

.welcome-title {
    font-family: Bicubik;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.welcome-text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    border-radius: 10px;
    font-family: TT Fors;
}

.welcome-text img {
    width: 40%;
}

.about-text {
    display: flex;
    width: 70%;
    background-image: linear-gradient(100deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: TT Fors;
    color: white;
    text-align: justify;
}

.about-text img {
    width: 20%;
    border-radius: 40px;
}

.pregnancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 90%;
    margin: auto;
}

.pregnancy p {
    font-size: 22px;
}

.reformer h3 {
    margin-top: 20px;
}

.reformer img, .matwork img {
    width: 40%;
}

.reformer, .rehab, .matwork, .pregnancy {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    padding: 30px;
}

.rehab img {
    width: 30%;
}

.pregnancy img {
    width: 30%;
}

.mailto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: rgb(0, 143, 143);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 49);
    width: 150px;
}

.name-section, .password-section, .surname-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
}

.address-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
    flex-direction: column;
}

.input-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin: auto;
}

.nav button {
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
}

.nav button:hover {
    color: red;
    transition: .2s ease;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.contact div {
    margin: 10px;
}

.contact input {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    font-family: TT fors;
}

.contact textarea {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: auto;
    outline: none;
    border: none;
    resize: none;
    font-family: TT fors;
}

.contact button {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-family: TT fors;
    transition: .2s ease;
    cursor: pointer;
    font-size: 18px;
}

.contact button:hover {
    background: seagreen;
    color: white;
    transition: .2s ease;
}

@media screen and (max-width: 1024px){
    body {
        overflow-x: hidden;
        background-image: url("/images/phone-background.jpg");
        background-size: cover;
        background-position: right;
    }
    
    .logo {
        display: block;
        color: rgb(1, 117, 117);
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 5vh;
        background-image: linear-gradient(0deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: .5s ease;
    }

    .burger {
        display: block;
    }

    .contact input, .contact textarea {
        width: 80%;
    }

    .about-text img {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reformer, .rehab, .matwork, .pregnancy {
        text-align: center;
        width: 90%;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .welcome-text img {
        width: 100%;
    }

    .sessions img {
        width: 65%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .contact input, .contact textarea {
        width: 80%;
    }

    .mailto {
        width: 100px;
    }

}

@media screen and (max-width: 768px){     
    body {
        overflow-x: hidden;
        background-image: url("/images/phone-background.jpg");
        -webkit-background-size: calc(100vw) calc(100vh);
        -moz-background-size: calc(100vw) calc(100vh);
        -o-background-size: calc(100vw) calc(100vh);
        background-size: calc(100vw) calc(100vh);
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    p {
        font-size: 15px;
    }

    .pregnancy p {
        font-size: 13px;
    }
    
    .overlay {
        height: 100%;
        opacity: .5;
    }

    .logo {
        display: block;
        color: rgb(1, 117, 117);
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 7.5vh;
        background-image: linear-gradient(0deg, rgb(0, 0, 49), rgb(44, 0, 44), rgb(0, 51, 51));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: .5s ease;
    }

    .burger {
        display: block;
    }

    .sessions {
        width: 100%;
        margin: auto;
    }

    .about-text {
        display: block;
    }

    .about-text img {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reformer, .rehab, .matwork, .pregnancy {
        text-align: center;
        width: 90%;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .welcome-text img {
        width: 100%;
    }

    .sessions img {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .contact input, .contact textarea {
        width: 80%;
    }

    .mailto {
        width: 100px;
    }
}

.nav-active {
    transform: translateY(0%);
    transition: .5s ease;
}